{% extends "base.html.twig" %}

{% block body %}
    <div id="buttons">
        </br>
        <button id="loginButton" class="btn btn-dark btn-lg initialButton">Iniciar sesion</button>
        </br></br>
        <button id="checkInButton" class="btn btn-dark  btn-lg initialButton">Registrarse</button>
    </div>
    <div id="loginDiv" style="visibility: hidden">
        <form action="{{ path('login_check') }}" method="post" onsubmit="return validateLogIn()">
            <input id="logInEmail" type="text" name="email" class="btn btn-dark btn-lg logIn" placeholder="Escribe aquí tu email" maxlength="50">
            </br></br>
            <input id="logInPassword" type="password" name="password" class="btn btn-dark btn-lg logIn" placeholder="Escribe aquí tu contraseña" maxlength="20">
            </br></br>
            <input type="submit" class="btn btn-secondary btn-lg send" value="Entrar">
        </form>
    </div>
    <div id="checkInDiv" style="visibility: hidden" >
        <form action="{{ path('checkBeforeRoom',{'where': 'existingRoom'}) }}" method="post" id="checkInForm" onsubmit="return validateCheckIn()">
            <input id="checkInEmail" type="text" name="email" class="btn btn-dark btn-lg checkIn" placeholder="Escribe aquí tu email" maxlength="50">
            </br></br>
            <input id="checkInUsername" type="text" name="username" class="btn btn-dark btn-lg  checkIn" placeholder="Escribe aqui tu nombre de usuario" maxlength="20">
            </br></br>
            <input id="checkInPassword" type="password" name="password" class="btn btn-dark btn-lg  checkIn" placeholder="Escribe aquí tu contraseña" maxlength="20">
            </br></br>
           <div id="radioButtonRoom" class="btn-group btn-group-toggle" data-toggle="buttons">
                <label  id="radioButtonRoomExistingRoom" name="room" class="btn btn-dark btn-dark active">
                    <input type="radio" name="room" autocomplete="off" checked>Sala existente 
                </label>
                <label id="radioButtonRoomNewRoom" name="room" class="btn btn-dark btn-dark">
                    <input type="radio" name="room" autocomplete="off">Nueva sala
                </label>
            </div>
            </br></br>
            <button type="submit" class="btn btn-secondary btn-lg send">Registrarse</button>
        </form>
    </div>
 
{% endblock %}
{% block javascripts %}
    {{ parent() }}
       <script>
        $(document).ready(function(){
            //Mostrar formLogin
            $("#loginButton").click(function(){
                document.getElementById("buttons").style.visibility = "hidden";
                setTimeout(function(){
                    $("#buttons").fadeOut(); 
                },0);
                setTimeout(function(){
                    $(".logIn").fadeIn(400);
                    document.getElementById("loginDiv").style.visibility = "visible";
                }, 450); 
            });
            //Mostrar formCheckIn
            $("#checkInButton").click(function(){
                document.getElementById("buttons").style.visibility = "hidden";
                setTimeout(function(){
                   $("#buttons").fadeOut(); 
                },0);
                setTimeout(function(){
                    $(".checkIn").fadeIn(400);
                    document.getElementById("checkInDiv").style.visibility = "visible";
                }, 450); 
            });
            $('#radioButtonRoomNewRoom').click(function(){
                document.getElementById("radioButtonRoomExistingRoom").className ="btn btn-dark btn-dark";
                document.getElementById("radioButtonRoomNewRoom").className ="btn btn-dark btn-dark active";
                document.getElementById("checkInForm").action="{{ path('checkBeforeRoom',{'where': 'newRoom'}) }}";
            });
            $('#radioButtonRoomExistingRoom').click(function(){
                document.getElementById("radioButtonRoomNewRoom").className ="btn btn-dark btn-dark";
                document.getElementById("radioButtonRoomExistingRoom").className ="btn btn-dark btn-dark active";
                document.getElementById("checkInForm").action="{{ path('checkBeforeRoom',{'where': 'existingRoom'}) }}";
            });
        });
        /*function validateCheckIn(){
            ready = true;
            if(notRightEmail("checkInEmail") || (document.getElementById("checkInEmail").value.length<5 || document.getElementById("checkInEmail").value.length>50)){
                itsWrong('checkInEmail', 'No es un email correcto');
                ready=false;
            }
            else{
                itsWell("checkInEmail");
            }
            if(document.getElementById('checkInUsername').value.length<3 || document.getElementById('checkInUsername').value.length>20){
                itsWrong('checkInUsername', 'No es un nombre de usuario correcto');
                ready=false;
            }
            else{
                itsWell("checkInUsername");
            }
            if(notRightPassword('checkInPassword') || (document.getElementById('checkInPassword').value.length<8 || document.getElementById('checkInPassword').value.length>20)){
                itsWrong('checkInPassword', 'La contraseña debe tener minimo 8 caracteres');
                ready=false;
            }
            else{
                itsWell("checkInPassword");
            }
            return ready;
        }
        function validateLogIn(){
            ready = true;
            if(notRightEmail("logInEmail") || (document.getElementById("logInEmail").value.length<5 || document.getElementById("logInEmail").value.length>50)){
                itsWrong('logInEmail', 'No es un email correcto');
                ready=false;
            }
            else{
                itsWell("logInEmail");
            }
            if(notRightPassword('logInPassword') || (document.getElementById('logInPassword').value.length<8 && document.getElementById('logInPassword').value.length>20)){
                itsWrong('logInPassword', 'No es una contraseña correcta');
                ready=false;
            }
            else{
                itsWell("logInPassword");
            }
            return ready;
        }
        function notRightEmail(id){
            campo = document.getElementById(id).value;
            emailRegex =/^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;
            if (emailRegex.test(campo)) {
                return false;
            }
            else{
                return true;
            }
        }
        function notRightPassword(id){
            long = document.getElementById(id).length;
            if(long<8) return true;
            else return false;
        }
        function itsWrong(id, message){
            document.getElementById(id).style.backgroundColor="#8B0000";
            document.getElementById(id).value="";
            document.getElementById(id).placeholder=message;
        }
        function itsWell(id){
            document.getElementById(id).style.backgroundColor="#343a40";
        }*/
    </script>
{% endblock %}