{% extends "base.html.twig" %}

{% block body %}
    <div id="alert" class="fixed-bottom">
        {% for flashMessage in app.session.flashbag.get('warning') %}
            <br/>
            <div class="alert alert-danger" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
    </div>
    <center id="joinRoomDiv">
        <form action="{{ path('joinExistingRoom') }}" method="post" onsubmit="return validateJoinRoom()">
            <input id="nameRoom" type="text" name="roomName" class="col-md-6 btn btn-dark" placeholder="Nombre de la sala" maxlength="50" autocomplete="off">
            <br/><br/>
            <input id="password" type="password" name="password" class="col-md-6 btn btn-dark" placeholder="Contraseña" maxlength="20" autocomplete="off">
            <br/><br/>
            <div class="col-md-6  btn-group" data-toggle="buttons">
                <a id="hrefButton" href="{{path('backToCheckBeforeRoom')}}" class="col-md-6  btn btn-secondary">
                    <button type="button" class="col-md-6  btn btn-secondary">Atras</button>
                </a>
                <button type="joinRoom" class="col-md-6  btn btn-success">Crear sala</button>
            </div>
        </form>
    </center>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/joinRoom.js') }}" type="text/javascript"></script>
{% endblock %}
